.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #051937, #002f4f, #004455, #005744, #0b6722);
  font-size: calc(10px + 2vmin);
  margin-bottom: 0;
}

.title {
  display: flex;
}

.loader {
  display: flex;
  width: 20%;
  margin: auto;
}

.spinner {
  animation: spin 5s linear infinite;
}

.loader img {
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  margin: auto;
  width: 30%;
}

.logo img {
  width: 100%;
}

.header {
  width: 90%;
  margin: auto;
}

.header div {
  width: 100%;
}

h3 {
  color: whitesmoke;
}

.search-box {
  width: fit-content;
  margin: auto;
}

.filters {
  display: flex;
  margin: 20px 0 20px 0;
}

.filters button {
  width: 30%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

.main tr:nth-child(odd) {
  background-color: #051937;
}

.media-card {
  display: flex;
  border: 2px solid white;
  margin: auto;
}

.page-controller {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .filters {
    flex-direction: column;
    justify-content: center;
  }

  .filters button {
    margin: 20px auto 10px auto;
  }

  .main {
    padding: 0;
  }
}