.App {

  /* position: relative;
  display: flex;
  flex-direction: column;
  */
  /* align-items: center; */

  position: relative;
  text-align: center;
  padding: 20px 10px 10px 10px;
  width: 100%;
  height: 1920px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../public/stars_background.jpg');
  background-size: cover;
  z-index: 1;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.title {
  display: flex;
}

.loader {
  display: flex;
  width: 20%;
  margin: auto;
}

.spinner {
  animation: spin 5s linear infinite;
}

.loader img {
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  margin: auto;
  width: 30%;
}

.logo img {
  width: 100%;
}

.header {
  width: 90%;
  margin: auto;
}

.header div {
  width: 100%;
}

h3 {
  color: whitesmoke;
}

.search-box {
  width: fit-content;
  margin: auto;
}

.filters {
  display: flex;
  margin: 20px 0 0 0;
}

.filters button {
  width: 30%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.media-card {
  display: flex;
  border: 2px solid white;
  margin: auto;
}

.paging {
  margin: 10px;
}